@import './../../variable';

.youtube_entry {
    padding: 2px 0 2px 2px;

    .icon {
        color: $colorRed1;
        margin-right: $marginIcon;
    }

    &:nth-child(n + 2) {
        margin-top: 5px;
    }

    &:hover {
        background: $colorBg2;
    }

    &__band {
        color: $colorLink;
    }

    &__name {
        margin-left: 10px;
    }

    &__video {
        color: $colorText5;
        display: block;
        font-style: italic;
        margin-top: 5px;
        text-indent: 20px;
    }
}
