@import './../variable';

.input,
.output {
    min-width: 100px;
    max-width: $widthMax;
    min-height: 50px;
}

.input {
    height: 250px;
    width: calc(100% - 15px);
}

.output {
    margin-top: 20px;
    width: calc(100% - 20px);
}

.instruction__sort {
    margin-top: 20px;

    &__title {
        color: $colorSubtitle;

        &:hover {
            color: $colorSubtitleHover;
        }
    }

    &__list {
        margin-top: 5px;
        padding-left: 30px;

        &__entry {
            &:nth-child(n + 2) {
                margin-top: 5px;
            }
            &:hover {
                color: $colorText1;
                text-decoration: underline;
            }
        }
    }
}
