.youtube_form {
    margin-top: 15px;

    &__input {
        display: block;
        margin-bottom: 5px;
        width: calc(100% - 13px);
    }

    &__submit {
        display: none;
    }
}

.youtube_list {
    list-style: none;
    margin: 10px 10px 0 10px;
}
