@import '../variable';

$youtubeUrlWidth: 350px;

.youtube_add {
    margin-top: 15px;

    &__button {
        background: none;
        border: none;
        color: $colorText0;
        font-size: 20px;
        margin: 5px;
    }

    &__input {
        display: block;
        margin-bottom: 5px;
        width: calc(100% - 13px);
    }

    &__submit {
        display: none;
    }
}

.youtube_list {
    list-style: none;
    margin: 10px 10px 0 10px;
}

.youtube_url {
    position: absolute;
    top: 60px;
    left: calc(50% - 175px);

    &__input {
        display: block;
        width: $youtubeUrlWidth;
    }

    &__submit {
        display: none;
    }
}

.youtube_video {
    position: fixed;
    top: 60px;
    background: $colorBg0;

    height: 250px;
    width: 350px;
    transition: left 0.2s linear, right 0.2s linear;

    &--close {
        right: -330px;
    }

    &:not(&--close) {
        @media (max-width: 1200px) {
            left: 90%;
        }
        @media (min-width: 1201px) and (max-width: 1600px) {
            left: 85%;
        }
        @media (min-width: 1601px) {
            right: 0;
        }
    }

    &__button {
        background: $colorLink;
        border: none;
        display: block;
        float: left;
        height: 100%;
        width: 10px;

        &:hover {
            background: $colorLinkHover;
        }
    }

    &__div {
        background: rgba(200, 0, 0, 0.5);
        float: left;
        margin: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 32px);
    }
}
