@import '../../variable';

.header {
    padding: 10px 5px;
    border-bottom: 1px solid $colorBorder0;
    box-shadow: 0 0 5px $colorBorder0;

    &__home {
        margin: 0 10px;
    }

    &__title {
        font-size: 24px;
    }
}
