.collapse__parent {
    cursor: pointer;

    &:not(:hover) {
        .collapse_icon {
            .hover {
                display: none;
            }
        }
    }

    &:hover {
        .collapse_icon {
            .out {
                display: none;
            }
        }
    }
}
