@import '../variable';

.instruction {
    .aside__title {
        .collapse_icon {
            margin-right: 5px;
        }
    }
    .section {
        &--close {
            display: none;
        }
    }

    &__list {
        padding-left: 20px;

        &__entry {
            padding: 3px 0;

            &:nth-child(n + 2) {
                margin-top: 2px;
            }

            &:hover {
                background: $colorBg1;
            }
        }
    }
}
