@import '../variable';

.instruction {
    &__list {
        padding-left: 20px;

        &__entry {
            padding: 3px 0;

            &:nth-child(n + 2) {
                margin-top: 2px;
            }

            &:hover {
                background: $colorBg1;
            }
        }
    }
}
