@import '../variable';

.youtube_entry {
    padding: 2px 0 2px 2px;

    .icon {
        color: $colorRed1;
        margin-right: $marginIcon;
    }

    &:nth-child(n + 2) {
        margin-top: 5px;
    }

    &:hover {
        background: $colorBg2;
    }
}
