$colorBg0: #131313;
$colorBg1: #262626;
$colorBg2: #333;

$colorBorder0: #ccc;
$colorBorder1: #005aff;

$colorLink: #27a590;
$colorLinkHover: #2effe6;

$colorRed0: #f00;
$colorRed1: #d00;
$colorRed2: #a00;

$colorText0: #fff;
$colorText1: #ddd;
$colorText2: #aaa;

$colorSubtitle: #008f97;
$colorSubtitleHover: #00adb7;

$colorTitle: #0a9341;
$colorTitleHover: #00ff00;

$marginIcon: 5px;

$widthMax: 950px;
