$colorBg0: #131313;
$colorBg1: #262626;
$colorBg2: #333;

$colorBorder0: #ccc;
$colorBorder1: #005aff;

$colorLink: #27a590;
$colorLinkHover: #2effe6;

$colorText0: #ddd;
$colorText1: #fff;
$colorText2: #aaa;

$colorTitle: #0a9341;
$colorTitleHover: #00ff00;

$widthMax: 950px;
