html, body {
    background: #131313;
    color: #DDD;
    font: normal 12px/1 Arial, sans-serif;
}

a {
    color: #27a590;
    text-decoration: none;

    &:hover {
        color: #2EFFE6;
        text-decoration: underline;
    }
}

body, h1, h2, h3, h4, p, pre
{
    margin: 0;
    padding: 0;
}