@import 'variable';

html,
body {
    background: $colorBg0;
    color: $colorText0;
    font: normal 12px/1 Arial, sans-serif;
}

a {
    color: $colorLink;
    text-decoration: none;

    &:hover {
        color: $colorLinkHover;
        text-decoration: underline;
    }
}

body,
h1,
h2,
h3,
h4,
li,
p,
pre {
    margin: 0;
    padding: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

input[type='submit'],
input[type='text'],
textarea {
    background: $colorBg1;
    border: 1px solid $colorText2;
    color: $colorText1;
    padding: 5px;

    &:focus {
        color: $colorLinkHover;
        border-color: $colorLink;
        outline-color: $colorLink;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder,
    &::-moz-placeholder {
        color: $colorText2;
        font-style: italic;
    }
}

pre {
    background: $colorBg1;
    border: none;
    border-left: 4px solid $colorBorder1;
    border-right: 2px solid $colorBorder1;
    color: $colorText1;
    font-family: 'Courier New', sans-serif;
    padding: 5px;
    margin: 5px 0;
}
