html, body {
    background: #131313;
    color: #DDD;
}

.nav {
    background: #333;

    a {
        color: #FFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}